.page__section {
  inline-size: 100%;
  max-inline-size: 882px;
  box-sizing: border-box;
  position: relative;
  margin-inline: auto;
}

@media screen and (width <= 1140px) {
  .page__section {
    inline-size: calc(100% - 40px);
  }
}
