.profile__info {
  display: grid;
  grid-template-areas:
    'title button'
    'description description';
  grid-template-columns: minmax(auto, 295px) auto;
  gap: 9px 17px;
}

@media screen and (width <= 740px) {
  .profile__info {
    grid-template-columns: minmax(auto, 228px) auto;
    gap: 9px 5px;
  }
}

@media screen and (width <= 568px) {
  .profile__info {
    grid-template-columns: minmax(auto, 195px) auto;
  }
}

@media screen and (width <= 480px) {
  .profile__info {
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-start: 26px;
    margin-block-end: 33px;
  }
}
