@import url('./__description-container/profile__description-container.css');
@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title-container/profile__title-container.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');
@import url('./__edit-avatar-button/profile__edit-avatar-button.css');

.profile {
  font-family: Inter, Arial, sans-serif;
  color: rgb(255 255 255);
  display: flex;
  align-items: center;
  padding-block: 36px;
}

@media screen and (width <= 480px) {
  .profile {
    padding-block: 43px;
    flex-direction: column;
    text-align: center;
  }
}
