.card__like-button {
  inline-size: 21px;
  block-size: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}
