.profile__edit-button {
  inline-size: 24px;
  block-size: 24px;
  background: transparent url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 10px 10px;
  border: 1px solid rgb(255 255 255);
  grid-area: button;
  align-self: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

.profile__edit-button:focus {
  outline: none;
}

.profile__edit-button:focus-visible {
  outline: 1px solid rgb(255 255 255);
  outline-offset: 1px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (width <= 480px) {
  .profile__edit-button {
    inline-size: 18px;
    block-size: 18px;
    background-size: 8px 8px;
  }
}
