.profile__title {
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  display: none;
}

@media screen and (width <= 740px) {
  .profile__title {
    font-size: 32px;
    line-height: 1.19;
  }
}

@media screen and (width <= 568px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.22;
  }
}

@media screen and (width <= 480px) {
  .profile__title {
    min-inline-size: 201px;
  }
}
