@import url('./__copyright/footer__copyright.css');

.footer {
  font-family: Inter, Arial, sans-serif;
  flex-shrink: 0;
  padding-block-start: 30px;
  padding-block-end: 60px;
}

@media screen and (width <= 568px) {
  .footer {
    padding-block-end: 36px;
  }
}
