.profile__add-button {
  inline-size: 150px;
  block-size: 50px;
  background: transparent url('../../../images/add-icon.svg') center no-repeat;
  background-size: 22px;
  border-radius: 2px;
  border: 2px solid rgb(255 255 255);
  transition: 0.3s;
  cursor: pointer;
  margin-inline-start: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (width <= 740px) {
  .profile__add-button {
    inline-size: 50px;
    block-size: 50px;
  }
}

@media screen and (width <= 480px) {
  .profile__add-button {
    inline-size: 100%;
  }
}
