.popup__input {
  inline-size: 100%;
  block-size: 47px;
  border: none;
  border-block-end: 1px solid rgb(0 0 0 / 0.2);
  font-size: 14px;
  line-height: 1.25;
  box-sizing: border-box;
}

.popup__input:focus {
  outline: none;
}

.popup__input:focus-visible {
  outline: 1px solid rgb(0 0 0 / 0.2);
  outline-offset: 1px;
}

@media screen and (width <= 568px) {
  .popup__input {
    font-size: 12px;
  }
}
