.popup__content_content_image {
  max-inline-size: 75dvi;
  max-block-size: 75dvb;
  block-size: auto;
  inline-size: auto;
  display: flex;
  background: transparent;
  background-size: cover;
  border-radius: 0;
  padding: 0;
}
