@import url('./__list/places__list.css');
@import url('./__item/places__item.css');

.places {
  font-family: Inter, Arial, sans-serif;
  padding-block-start: 15px;
  padding-block-end: 36px;
}

@media screen and (width <= 568px) {
  .places {
    padding-block-end: 18px;
  }
}
