@import url('./__logo/header__logo.css');

.header {
  min-block-size: 120px;
  font-family: Inter, Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header::before {
  content: '';
  inline-size: 100%;
  block-size: 1px;
  opacity: 0.7;
  background: rgb(84 84 84);
  position: absolute;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inset-block-end: 0;
}

@media screen and (width <= 480px) {
  .header {
    min-block-size: 85px;
  }

  .header::before {
    inline-size: calc(100% + 40px);
  }
}
